/* BarberButtons.css */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.barber-buttons-container {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.top-barber-padding {
    padding: 10px;
}

.barber-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 0, 10px;
}

.barber-card {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.barber-image {
    width: 100%;
    height: auto;
}

.barber-name {
    margin-top: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.16px;
    color: #111827;
}

.barbershop-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.pin-drop-icon,
.location-img {
    width: 10.67px;
    height: 13.33px;
    margin-right: 5px;
}

.barbershop-name {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8683A1;
    display: inline;
}

.rating {
    color: #8683A1;
    font-size: 14px;
    display: inline;
}

.rating-icon {
    width: 13.33px;
    height: 13.33px;
    margin-right: 5px;
    display: inline;
}

.barber-padding {
    height: 84px;
}